<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-heart"></i> Sentir
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="nav-link active" type="button" routerLink="/">Inicio</button>
        </li>
        <li class="nav-item">
          <button class="nav-link" type="button" routerLink="/productos">
            <i class="fas fa-box-open ms-2"></i> Productos
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" type="button" routerLink="/carrito">
            <i class="fas fa-shopping-cart ms-2"></i> Ir al Carrito
          </button>
        </li>
        <li class="nav-item">
          <button class="nav-link" type="button" routerLink="/register">
            <i class="fas fa-user-plus ms-2"></i> Registrarse
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
